<?xml version="1.0" encoding="utf-8" ?>

<!-- Файл конфигураци проекта
	 Нужно предусмотреть два режима:
	 
	 1. Слой DAL - это коллекции.
	 2. Слой DAL - это база данных.
-->
	
<configuration>

	<appSettings> <!-- Пользовательские параметры приложения -->

		<!-- default, sql -->
		<add key="DAL" value="default" />
	
	</appSettings>
	
	<connectionStrings> <!-- Пользовательские параметры подключений -->
		
		<add name="MyConnectionString" 
			 connectionString="Data Source=localhost;Initial Catalog=PersonsAndAwards;Integrated Security=True" 
			 providerName="System.Data.SqlClient"/>
	
	</connectionStrings>

</configuration>