@{
    ViewData["Title"] = "Remove selected item";
    string type = ViewData["type"] as string;
    int id = Convert.ToInt32(ViewData["id"]);
}

<div class="container">

    <h2>Remove selected item?</h2>

    <button class="button-submit"
            onclick="location.href='@Url.Action("RemoveConfirmed", "Common", new {type = type, id=id}, null)'">
        Submit Changes
    </button>

</div>

